    <nav>
        <div class="site-title">
            <a href="/"><h1>myNotes</h1></a>
            <p>Making Notes</p>
        </div>
        <ul>
            <li><a href="/">myNotes</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/create">Create Notes</a></li>
        </ul>
    </nav>