<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <h2>About myNotes</h2>
        <p>A simple notes app built with Node, Express, and MongoDB.</p>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>